<div class="order-item-list">
    <div class="order-item-list__item deleted">
        <div class="order-item-list__name">Телесный разум. Как тело влияет на наши мысли, чувства и воспоминания</div>
        <div class="order-item-list__len text-main">3 дня</div>
        <button type="button" class="order-item-list__return text-btn">
            <span>Вернуть</span>
            <img src="assets/img/Icon/plus-drk.svg" alt="" class="btn__icon">
        </button>
    </div>
    <div class="order-item-list__item">
        <div class="order-item-list__name">Расстаться нельзя остаться. Книга для тех, кто устал от драм и хочет счастливых отношений</div>
        <div class="order-item-list__len text-main">3 дня</div>
        <button type="button" class="order-item-list__delete text-btn">
            <span>Удалить</span>
            <img src="assets/img/Icon/Close-dark.svg" alt="" class="btn__icon">
        </button>
    </div>
    <div class="order-item-list__item">
        <div class="order-item-list__name">Кружка "Цветочная поляна"</div>
        <div class="order-item-list__len text-main text-alert">7 дней</div>
        <button type="button" class="order-item-list__delete text-btn">
            <span>Удалить</span>
            <img src="assets/img/Icon/Close-dark.svg" alt="" class="btn__icon">
        </button>
    </div>
    <div class="order-item-list__item">
        <div class="order-item-list__name">Общий срок доставки заказа:</div>
        <div class="order-item-list__len text-main text-alert">7 дней</div>
    </div>
</div>